<a href="https://colab.research.google.com/github/saurav0chauhan/saurav0chauhan/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/content/concrete.csv')

# Explore the dataset
print(df.head())
print(df.info())
print(df.isnull().sum())

# Handle missing values
df.dropna(inplace=True)

# Convert data types
df['date_column'] = pd.to_datetime(df['cement'])
df['category_column'] = df['water'].astype('category')

# Normalize a numerical column
df['normalized_column'] = (df['ash'] - df['age'].min()) / (df['strength'].max() - df['water'].min())

# Display the cleaned dataset
print(df.head())

   cement   slag  ash  water  superplastic  coarseagg  fineagg  age  strength
0   540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28     79.99
1   540.0    0.0  0.0  162.0           2.5     1055.0    676.0   28     61.89
2   332.5  142.5  0.0  228.0           0.0      932.0    594.0  270     40.27
3   332.5  142.5  0.0  228.0           0.0      932.0    594.0  365     41.05
4   198.6  132.4  0.0  192.0           0.0      978.4    825.5  360     44.30
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cement        1030 non-null   float64
 1   slag          1030 non-null   float64
 2   ash           1030 non-null   float64
 3   water         1030 non-null   float64
 4   superplastic  1030 non-null   float64
 5   coarseagg     1030 non-null   float64
 6   fineagg       1030 non-null   float64
 7   age           1030 non-null   int64
 8   strength      1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB
None
cement          0
slag            0
ash             0
water           0
superplastic    0
coarseagg       0
fineagg         0
age             0
strength        0
dtype: int64
   cement   slag  ash  water  superplastic  coarseagg  fineagg  age  strength  \
0   540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28     79.99
1   540.0    0.0  0.0  162.0           2.5     1055.0    676.0   28     61.89
2   332.5  142.5  0.0  228.0           0.0      932.0    594.0  270     40.27
3   332.5  142.5  0.0  228.0           0.0      932.0    594.0  365     41.05
4   198.6  132.4  0.0  192.0           0.0      978.4    825.5  360     44.30

                    date_column category_column  normalized_column
0 1970-01-01 00:00:00.000000540           162.0            0.02551
1 1970-01-01 00:00:00.000000540           162.0            0.02551
2 1970-01-01 00:00:00.000000332           228.0            0.02551
3 1970-01-01 00:00:00.000000332           228.0            0.02551
4 1970-01-01 00:00:00.000000198           192.0            0.02551